.container {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between
}
.group {  
    width: 100%;
}

.rule-group {
    border: 1px solid orange;
    background: rgba(253, 255, 155, 0.5);
    padding: 2px;   
    margin: 5px;
}

.rule {
    margin: 5px;
}
.query {
    width: 40%;
    padding-left: 10px;
}
