.container {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between
}

.root-container {
    margin: 5px 0px;
    width: 150px;
}

.root-list {
    margin-top: 10px;
}

.root-select { 
    width: 82%;
    margin: 5px auto;
}

.group {      
    width: 65%;
}

.rule-group {
    border: 1px solid orange;
    background: rgba(253, 255, 155, 0.5);
    padding: 2px;   
    margin: 5px;
}

.rule {
    margin: 5px;
}

.query {
    width: 35%;
    padding-left: 10px;
}

.button {
    width: 150px;
    color: green
}

.input {
    width: 146px;
}

.margin-left {
    margin-left: 10px;
}

.hidden {
    display: none;
}
